<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <csd-purchase-form-title />

  <csd-purchase-owner />

  <div class="fieldset">
    <input
      type="email"
      class="csd-input"
      formControlName="email"
      placeholder="Email"
      autocomplete="email"
    />

    <button
      class="csd-button_flat"
      color="primary"
      *ngVar="loading$ | async as loading"
      [disabled]="loading"
    >
      <ng-container *ngIf="!loading; else spinner">
        <ng-template *ngTemplateOutlet="purchaseText" />
      </ng-container>
      <ng-template #spinner>
        <mat-spinner color="accent" [diameter]="26" [strokeWidth]="3" />
      </ng-template>
    </button>
  </div>
</form>

<ng-template #purchaseText>
  <ng-container *ngVar="(priceData$ | async)! as priceData">
    Purchase
    {{
      priceData.price
        | currency : priceData.currency : "symbol-narrow" : "1.0-1"
    }}
  </ng-container>
</ng-template>
