:host{
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    row-gap: 4px;
}

h2{    
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    @media screen and ( max-width: 780px ) {
        font-size: 28px;
        line-height: 35px;
    }
}

h1{
    font-weight: 700;
    font-size: 128px;
    line-height: 156px;
    @media screen and ( max-width: 780px ) {
        
        font-size: 108px;
        line-height: 136px;
    }
}

.link{
    margin-top: 20px;
    color: #5F8CA0;
    
    &:hover{
        color: var(--primary-color)
    }
}