<csd-purchase-owner />

<button
  class="csd-button_flat"
  color="primary"
  *ngVar="state$ | async as state"
  [disabled]="state === IDropStates.DISABLED || state === IDropStates.PENDING"
  (click)="onPurchase()"
>
  <ng-container [ngSwitch]="state">
    <mat-spinner
      color="accent"
      [diameter]="26"
      [strokeWidth]="3"
      *ngSwitchCase="IDropStates.PENDING"
    />

    <ng-container *ngSwitchCase="IDropStates.DISABLED"> Sold Out </ng-container>

    <ng-container *ngSwitchCase="IDropStates.ACTIVE">
      <ng-template *ngTemplateOutlet="purchaseText" />
    </ng-container>
  </ng-container>
</button>

<ng-template #purchaseText>
  <ng-container *ngVar="(priceData$ | async)! as priceData">
    Purchase
    {{
      priceData.price
        | currency : priceData.currency : "symbol-narrow" : "1.0-1"
    }}
  </ng-container>
</ng-template>
