<div class="card">
  <form [formGroup]="form" (ngSubmit)="onBind()">
    <h3 class="card__title">Bind license</h3>
    <input
      type="text"
      placeholder="Input license key"
      class="csd-input"
      formControlName="key"
      mask="AAAA-AAAA-AAAA-AAAA"
      [dropSpecialCharacters]="false"
    />
    <button
      class="csd-button_flat"
      color="primary"
      *ngVar="loading$ | async as loading"
      [disabled]="loading"
    >
      <ng-container *ngIf="!loading; else spinner"> Bind </ng-container>
      <ng-template #spinner>
        <mat-spinner [diameter]="26" [strokeWidth]="3" color="accent" />
      </ng-template>
    </button>
  </form>
</div>
