csd-dashboard {
  @apply tw-grid tw-self-center;
  @apply tw-justify-self-center  tw-items-start;
  @apply tw-gap-6 xs:tw-gap-4;
  @apply tw-grid-cols-[1fr_1fr] sm:tw-grid-cols-1;
  @apply tw-w-full tw-max-w-6xl sm:tw-max-w-xl xs:tw-max-w-md;
  @apply tw-relative;

  .card {
    @apply tw-px-8 xs:tw-px-6;
  }

  .csd-button_flat,
  .csd-button_stroked {
    @apply tw-h-12 xs:tw-h-10;
  }

  .csd-button_stroked[color="primary"],
  .csd-button_icon[color="primary"] {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;

    &:not(:disabled):hover {
      @apply tw-text-white #{!important};
      background-color: var(--primary-color) !important;
    }

    .mat-mdc-progress-spinner
      .mdc-circular-progress__indeterminate-circle-graphic {
      stroke: var(--primary-color) !important;
    }
  }

  .csd-button_flat {
    background-color: var(--primary-color) !important;
  }
}
